<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}"> 
    
</head>

<body>
    <div class="bordaCima"></div>
    <!-- Cabeçalho -->
    <div class="cabecalho">
        <div class="espacamento"></div>
        <img src="{{url_for('static',filename='logo.png')}}" alt="logo">
        <span class="link">
            <a href="index.html">HOME <b>|</b></a>
            <a href="quem-somos.html">QUEM SOMOS <b>|</b></a>
            <a href="contatos.html">CONTATO</a>
        </span>
        <div class="espacamento"></div>
    </div>
    <!-- Imagem -->
    <div class="capa">
        <img src="{{url_for('static',filename='capa.png')}}" alt="capa" />
    </div>
    <!-- texto corrido -->
    <div class="texto">
        <h1>Sobre a universidade</h1>
        <p>
            Lorem <strong>ipsum dolor</strong> sit amet, consectetur adipisicing elit. Eius libero inventore, saepe esse
            nesciunt ut ducimus voluptatem. Harum, autem minus. Sint rerum ea similique perferendis nemo vero. Aperiam,
            reprehenderit velit?
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae reprehenderit, distinctio neque quas
            voluptas, quod quam consectetur quasi adipisci laboriosam impedit quidem sed aperiam aspernatur iste maxime
            facere, mollitia tempore?
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nobis praesentium perferendis,
            officia cum hic labore recusandae repellat! Totam, soluta ipsa? Atque, ut. Qui at odio laboriosam,
            voluptatum vel ducimus?
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi assumenda enim vero, repellendus, numquam
            ullam laudantium, excepturi iste adipisci maxime fugit. Blanditiis, laborum perspiciatis ex illo quaerat
            quibusdam eaque eveniet.
        </p>
        <p>
            Lorem <strong>ipsum dolor</strong> sit amet consectetur adipisicing elit. Rerum exercitationem error soluta
            odit quia suscipit perferendis ex quis assumenda quo harum odio sint qui, amet modi velit ullam quidem at!
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit repellat in tenetur ut id, pariatur
            perspiciatis eum aspernatur accusamus tempore. Suscipit inventore explicabo rem sit natus perferendis
            cupiditate recusandae quaerat? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cupiditate
            laudantium ab deleniti recusandae corrupti possimus deserunt in nihil facere asperiores! Neque facere
            laudantium dolorem ex ab similique voluptatum exercitationem nobis. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Reprehenderit mollitia molestias tempora soluta voluptatibus est ipsum ratione, ab
            repellat nam facere vero sunt non ex? Accusantium illum neque quo dolor.
        </p>
        <!-- Rodapé -->
        <footer>
            <p>Todos os direitos reservados</p>
        </footer>
    </div>
</body>

</html>