<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quem somos</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}" />
</head>

<body>
    <!-- Borda -->
    <div class="bordaCima"></div>
    <!-- Cabeçalho -->
    <div class="cabecalho">
        <div class="espacamento"></div>
        <img src="{{ url_for('static',filename='logo.png')}}" alt="logo" />
        <span class="link">
            <a href="index.html">HOME <b>|</b></a>
            <a href="quem-somos.html">QUEM SOMOS <b>|</b></a>
            <a href="contatos.html">CONTATO</a>
        </span>
        <div class="espacamento"></div>
    </div>
    <!-- Quem somos -->
    <div>
        <h1>Quem somos</h1>
        <p>
            Lorem <strong>ipsum dolor</strong> sit amet, consectetur adipisicing elit. Eius libero inventore, saepe esse
            nesciunt ut ducimus voluptatem. Harum, autem minus. Sint rerum ea similique perferendis nemo vero. Aperiam,
            reprehenderit velit?
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae reprehenderit, distinctio neque quas
            voluptas, quod quam consectetur quasi adipisci laboriosam impedit quidem sed aperiam aspernatur iste maxime
            facere, mollitia tempore?
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nobis praesentium perferendis,
            officia cum hic labore recusandae repellat! Totam, soluta ipsa? Atque, ut. Qui at odio laboriosam,
            voluptatum vel ducimus?
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi assumenda enim vero, repellendus, numquam
            ullam laudantium, excepturi iste adipisci maxime fugit. Blanditiis, laborum perspiciatis ex illo quaerat
            quibusdam eaque eveniet.
        </p>
    </div>
        <!-- 5 Motivos -->
        <div>
            <h1>5 motivos para estudar</h1>
            <ol>
                <li>Material sempre atualizado</li>
                <li>Tablets em sala de aula</li>
                <li>Professores renomados</li>
                <li>Universidade bem avaliada</li>
                <li>Ótima localização</li>
            </ol>
        </div>
        <hr>
        <!-- Objetivos -->
        <div>
            <h1>Objetivos</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus molestiae magnam iusto nostrum possimus quo architecto ipsa repellat, nulla deleniti? Laudantium eveniet quia nulla minima soluta autem non animi pariatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore sit in optio aliquam hic odio quo pariatur sint culpa modi sapiente quis tenetur nam consequuntur, placeat tempore, reiciendis eius officiis. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ad quasi suscipit nulla, unde magnam nesciunt alias, quia, dolorem consequatur repellat debitis voluptatibus quis! Ut ratione, molestiae laborum dolor nulla dolorem?</p>
        </div>
        <!-- Rodapé -->
        <footer>
            <p>Todos os direitos reservados</p>
        </footer>
    </body>
</html>